# Ïðàâèëà äëÿ ïàïêè /bitrix
bitrix/*
!bitrix/templates/
!bitrix/php_interface/
!bitrix/components/
bitrix/components/bitrix/
bitrix/php_interface/after_connect.php
bitrix/php_interface/after_connect_d7.php
bitrix/php_interface/dbconn.php


# Îáùèå ïðàâèëà
#.gitignore
.htaccess
robots.txt
upload/
upload
webstat/
cgi-bin/
sitemap_000.xml
sitemap_index.xml
sitemap_yandex.xml
sitemap.xml
_doc/
_html/
_test/
_dump.html

download/
images/
song_1.mp3/
video/

# Ñïèñîê ðàñøèðåíèé ôàéëîâ, êîòîðûå â ëþáîì ñëó÷àå èãíîðèðóþòñÿ
*.log
*.gz
*.bz2
*.zip
*.rar
*.7z
*.dump
*.sql
/cron/*.lock
/cron/*.pid
